<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <transmission name="left_foot_pitch_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="$foot_pitch_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="left_leg_lower_joint_x_to_left_leg_lower_joint_y">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
    </transmission>

    <xacro:macro name="joint_trans" params="parent child">
        <transmission name="${parent}_${child}_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${parent}_link_${child}_link_joint_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
            <joint name="${parent}_link_${child}_link_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
        </transmission>
    </xacro:macro>

</robot>